// ENROLLS SCSS
// #link{
//   // font-size: 20;
//   margin-top: 30px;
//   text-align: center;
//   padding-left: 20px;
// }

#histogram {
  text-align: center;
  color:red;
}
td{
  // text-align: left;
  font-size: 20;
  padding-left: 30px;

}


th{
  font-size: 30;
  padding-left: 30px;
  text-align: center;
}

p {
  font-size: 150%;
}

h1 {
  margin-bottom: 1em;
}
